header {
    padding: 30px 0px;
    background-color: maroon;
}
header:after {
    content:"";
    display: table;
    clear: both;

}
header a {
   color:#4C44C1;
   text-decoration: none;
}
header .logo{
    display: inline-block;
    float: left;
}
header .menu{
    display: inline-block;
    float: left;
}
header .menu a{
    text-decoration: none;
    text-transform: uppercase;
}
header .header-buttons{
    display: inline-block;
    float: right;
}