header {
    padding: 30px 20px;
    background-color: maroon;
}
header:after {
    content:"";
    display: table;
    clear: both;

}
header a {
   color:#4C44C1;
   text-decoration: none;
}
header .logo{
    display: inline-block;
    float: left;
    margin-right: 28px;
}
header .logo img{
    width: 40px;

}
header .menu{
    display: inline-block;
    float: left;
    position: relative;
    top: 20px;
}
header .menu a{
       text-transform: uppercase;
}
header .header-buttons{
    display: inline-block;
    float: right;
}